<%= render 'local_sidebar'%>

<p>
  <strong>Name:</strong>
  <%= @local.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @local.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @local.address %>
</p>
 


