<div class="container" style="margin-bottom : 60px; margin-left : 180px;">
  <div class="row">
    <div class="col-sm-4">
       <img src="/assets/beer.png" class="img-responsive" alt="Beer icon"> 
    </div>
    <div class="col-sm-4">
       <img src="/assets/coffee.png" class="img-responsive" alt="Coffee icon"> 
    </div>
    <div class="col-sm-4">
       <img src="/assets/meal.png" class="img-responsive" alt="Meal Terre"> 
    </div>
  </div>
</div>

