<div class="container">
  <div class="row">
    <div class="col-sm-4">
       <img src="/assets/images/beer.png" class="img-responsive" alt="Beer icon"> 
    </div>
    <div class="col-sm-4">
       <img src="/assets/images/coffee.png" class="img-responsive" alt="Coffee icon"> 
    </div>
    <div class="col-sm-4">
       <img src="/assets/images/meal.png" class="img-responsive" alt="Meal Terre"> 
    </div>
  </div>
</div>