<div style="margin-left: 140px; margin-top: 40px;">
  
    <div class="col-sm-4">
      <div style="font-family: 'Poiret One';">
      <a href="/users/sign_up?type=owner">
        <img src="/assets/owner.png" class="img-responsive" alt="businessman icon"> Register as Owner
      </a>
    </div>
    
    </div>
    
    <div class="col-sm-4">
    <div style="font-family: 'Poiret One';">
      <a href="/users/sign_up?type=employee">
        <img src="/assets/employee.png" class="img-responsive" alt="waitress icon"> Register as Employee
      </a>
    </div>   
    </div>

    <div class="col-sm-4">
    <div style="font-family: 'Poiret One';">
      
       <a href="/users/sign_up?type=customer">
        <img src="/assets/customer.png" class="img-responsive" alt="consumer icon"> Register as Customer
       </a>
    </div>
    </div>
</div>







