<div class="container" style="margin-bottom : 60px; margin-left : 180px;">
  <div class="row">
    <div class="col-sm-4">
       <a href="/users/sign_up?type=owner">Register as Owner</a>
    </div>
    <div class="col-sm-4">
       <a href="/users/sign_up?type=employee">Register as Employee</a> 
    </div>
    <div class="col-sm-4">
       <a href="/users/sign_up?type=customer">Register as Customer</a> 
    </div>
  </div>
</div>
<br>
<br>
<%= link_to "Back", root_path %>








